@{
	ViewBag.PageTitle = "Assign Subjects";
}
@model AssignSubjectViewModel;
<div class="container-fluid assignSubContainer pb-5 pt-3">
	<h1 class="fs-large text-center mb-0 py-3">Assign Subjects</h1>
	<form class="glass mt-1 p-4 rounded-1" id="assignSubjectForm" style="max-width: 576px;">
		<div class="mb-3">
			<label class="mb-1" asp-for="ClassId">Select Class</label>
			<select class="form-select" asp-for="ClassId" id="Class">
				<option value="">Select Class</option>
				@for (int i = 1; i < 11; i++)
				{
					<option value="@i">Class @i</option>
				}
			</select>
			<span class="d-block mt-1 text-danger" asp-validation-for="ClassId"></span>
		</div>
		<div class="mb-3">
			<label class="mb-1" asp-for="SubjectId">Select Subject</label>
			<select class="form-select" asp-for="SubjectId" id="Subject">
				<option value="">Select Subject</option>
			</select>
			<span class="d-block mt-1 text-danger" asp-validation-for="SubjectId"></span>
		</div>
		<div class="mb-3">
			<label class="mb-1" asp-for="TeacherId">Select Teacher</label>
			<select class="form-select" asp-for="TeacherId">
				<option value="">Select Teacher</option>
				@if (Model != null && Model.Teacher.Any())
				{
					@foreach (var Teacher in Model.Teacher)
					{
						<option value="@Teacher.Id">@Teacher.FirstName @Teacher.LastName</option>
					}
				}
			</select>
			<span class="d-block mt-1 text-danger" asp-validation-for="TeacherId"></span>
		</div>
		<div class="mb-2">
			<button class="btn btn-outline-warning rounded-0" type="submit">Assign</button>
		</div>
	</form>
</div>
@section CustomScripts
{
<script src="~/JS/assignSunject.js" asp-append-version="true"></script>
}